<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="./nlog-internal.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target 
                name="database" 
                xsi:type="Database" 
                dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite" 
                connectionString="${configsetting:name=ConnectionStrings.WebApiDatabase}" >

            <commandText>
                insert into "Logs" (
                 "Application", "CreatedAt", "Level", "Message", "Logger", "CallSite", "Exception"
                ) values (
                 @Application, @CreatedAt, @Level, @Message, @Logger, @CallSite, @Exception
                );
            </commandText>
            <parameter name="@Application" layout="Web API" />
            <parameter name="@CreatedAt" layout="${date}" />
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Logger" layout="${logger}" />
            <parameter name="@CallSite" layout="${callsite:filename=true}" />
            <parameter name="@Exception" layout="${exception:format=@}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="database" />
    </rules>
</nlog>